<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <br />
    <form action="/login" method="GET">
        <div class="text-center">
            <label for="buttonLogin">Already registered? Please login!</label>
            <input type="submit" class="btn btn-primary" id="buttonLogin" value="Login" style="margin-left: 50px">
        </div>
    </form>
    <br /><br />
    <form action="/register" method="GET">
        <div class="text-center">
            <label for="buttonRegister">A new user? Please register!</label>
            <input type="submit" class="btn btn-primary" id="buttonRegister" value="Register" style="margin-left: 60px">
        </div>
    </form>
</div>

</body>
</html>