<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="70080ec76e734d01a211925d878a997c" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_70080ec76e734d01a211925d878a997c = echarts.init(
            document.getElementById('70080ec76e734d01a211925d878a997c'), 'white', {renderer: 'canvas'});
        var option_70080ec76e734d01a211925d878a997c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "CO",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2014",
                    1.07
                ],
                [
                    "2015",
                    1.28
                ],
                [
                    "2016",
                    1.14
                ],
                [
                    "2017",
                    0.94
                ],
                [
                    "2018",
                    0.81
                ],
                [
                    "2019",
                    0.69
                ],
                [
                    "2020",
                    0.64
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "NO2",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2014",
                    46.63
                ],
                [
                    "2015",
                    48.35
                ],
                [
                    "2016",
                    46.35
                ],
                [
                    "2017",
                    43.87
                ],
                [
                    "2018",
                    39.48
                ],
                [
                    "2019",
                    35.21
                ],
                [
                    "2020",
                    25.86
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "O3",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2014",
                    38.2
                ],
                [
                    "2015",
                    58.6
                ],
                [
                    "2016",
                    57.78
                ],
                [
                    "2017",
                    61.84
                ],
                [
                    "2018",
                    64.77
                ],
                [
                    "2019",
                    65.04
                ],
                [
                    "2020",
                    71.36
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "PM10",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2014",
                    123.89
                ],
                [
                    "2015",
                    107.27
                ],
                [
                    "2016",
                    97.86
                ],
                [
                    "2017",
                    87.54
                ],
                [
                    "2018",
                    82.34
                ],
                [
                    "2019",
                    67.65
                ],
                [
                    "2020",
                    61.99
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "PM2.5",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2014",
                    53.76
                ],
                [
                    "2015",
                    79.41
                ],
                [
                    "2016",
                    72.05
                ],
                [
                    "2017",
                    57.16
                ],
                [
                    "2018",
                    50.29
                ],
                [
                    "2019",
                    41.56
                ],
                [
                    "2020",
                    42.48
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "SO2",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2014",
                    29.76
                ],
                [
                    "2015",
                    12.98
                ],
                [
                    "2016",
                    9.82
                ],
                [
                    "2017",
                    7.57
                ],
                [
                    "2018",
                    6.14
                ],
                [
                    "2019",
                    4.39
                ],
                [
                    "2020",
                    4.19
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "CO",
                "NO2",
                "O3",
                "PM10",
                "PM2.5",
                "SO2"
            ],
            "selected": {
                "CO": true,
                "NO2": true,
                "O3": true,
                "PM10": true,
                "PM2.5": true,
                "SO2": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "2014\u5e74~2020\u5e74\u5317\u4eac\n\u7a7a\u6c14\u8d28\u91cf\u6307\u6570",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_70080ec76e734d01a211925d878a997c.setOption(option_70080ec76e734d01a211925d878a997c);
    </script>
</body>
</html>
